*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f4f6;
}
body h1{
    font-family: 'Secular One', sans-serif;
    margin-top: 7vh;
    font-size: 60px; 
}
main{
    background-color: #6b48ff;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25%;
    margin-top: 7vh;
}
#players{
    margin-top: 5vh;
    font-family: 'Secular One', sans-serif;
    background-color: #1ee3cf;
    border-radius: 25%;
    width: 25vw;
    height: 30vh;
}
#players h2{
    font-size: xx-large;
    padding: 15px;
    margin-left: 3vw;
}
#buttuns{
    font-family: 'Secular One', sans-serif;
    margin: 30px;
    display: flex;
    justify-content: space-between;
}
#buttuns button{
    font-size: xx-large;
    font-family: 'Secular One', sans-serif;
    margin: 15px;
    border-radius: 50%;
    padding: 14px 40px;
    background-color:#0d3f67;
}