*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
    margin-right: 0;
}
button{
    width: 40px;
    height: 40px;
    margin: 20px;
    margin-top: 100px;
    margin-left: 5px;
}
form input{
    margin: 10px;
    height: 50px;
}
.form{
    display: flex;
}
.form p{
    width: 150px;
    height: 250px;
    border: 1px solid black;
    margin-top: 10px;
}
.cable{
    width: 350px;
    height: 15px;
    background-color: rgb(216, 15, 15);
    margin-top: 122px;
}
#switch{
    background-color: rgb(54, 188, 13);
    width: 250px;
    height: 800px;
    margin-left: 15px;
    margin-top: 30px;
}
.cablePacage img{
    width: 30px;
    height: 30px;
    margin-left: 150px;
    margin-bottom: 0;
    margin-top: -10px;
    display: none;
}
#switch{
    display: flex;
    justify-content: center;
    align-items: center;
}
#switchImg{
    width: 120px;
    height: auto;
    display: none;
}
/* #imgCable-1{
    display: none;
} */